<li>
	<span class="opener">Map Viewers</span>
	<ul>
       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/uncover/index.html"> Abell 2744: GLASS + UNCOVER + DD</a>
       </li>

       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/cos/cweb.html"> COSMOS: PRIMER + COSMOS-Web</a>
       </li>

       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/egs-v2/index.html"> EGS: CEERS</a>
       </li>
               
       <li> 
            <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/gdn/jwst.html"> GOODS-North: FRESCO + PANORAMIC</a>
       </li>

       <li> 
            <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/gds/jwst.html"> GOODS-South: FRESCO + JEMS + JADES</a>
        </li>

	</ul>
</li>
