<li>
	<span class="opener">Map Viewers</span>
	<ul>
       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/uncover/index.html"> Abell 2744: GLASS + UNCOVER + DD-2756</a>
       </li>

       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/cos/cweb.html"> COSMOS: PRIMER + COSMOS-Web</a>
       </li>

       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/uds/jwst.html?coords=34.4045815,-5.2253940&zoom=4"> UDS: PRIMER </a>
       </li>
       
       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/egs-v2/index.html"> EGS: CEERS</a>
       </li>
               
       <li> 
            <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/gdn/jwst.html"> GOODS-North: FRESCO + PANORAMIC</a>
       </li>

       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/gds/jwst.html"> GOODS-South: FRESCO + JEMS + JADES</a>
       </li>

       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/j064750p7014/index.html"> MACS 0647: GO-1433</a>
       </li>
       
       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/j013725m0826/index.html"> Sunrise WHL0137-08: GO-2282</a>
       </li>
       
       <li> 
           <a href="https://s3.amazonaws.com/grizli-v2/ClusterTiles/Map/j212940p0005/index.html"> RXJ 2129: DD-2767</a>
       </li>
       
	</ul>
</li>
