<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
		{% for my_page in navigation_pages %}
			{% if my_page.showOnMenu == true %}
				<li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title}}</a></li>
			{% endif %}
		{% endfor %}

		<li>
			<span class="opener">About</span>
            
			<ul>
                {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
				{% for a_page in navigation_pages %}
					{% if a_page.about == true %}
						<li><a href="{{ a_page.url | prepend: site.baseurl }}">{{ a_page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>


		</li>

        <li>
			<span class="opener">Imaging</span>
            
			<ul>
                {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
				{% for a_page in navigation_pages %}
					{% if a_page.showImageDataset == true %}
						<li><a href="{{ a_page.url | prepend: site.baseurl }}">{{ a_page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>

			<span class="opener">Spectroscopy</span>
            
			<ul>
                {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
				{% for a_page in navigation_pages %}
					{% if a_page.showSpecDataset == true %}
						<li><a href="{{ a_page.url | prepend: site.baseurl }}">{{ a_page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>

		</li>
        
        {% include map_viewers.html %}
        
		<!--li>
			<span class="opener">Pages</span>
			<ul>
                {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
				{% for a_page in navigation_pages %}
					{% if a_page.showOnSubmenu == true %}
						<li><a href="{{ a_page.url | prepend: site.baseurl }}">{{ a_page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
        </li-->
        
        <li><a href="{{ site.baseurl }}/posts/index.html">Posts / News</a></li>
        
	</ul>
</nav>