{% include components/scripts.html %}

<!-- <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
 -->

<script type="text/javascript" language="javascript"  src="{{ site.baseurl }}/assets/js/tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ site.baseurl }}/assets/js/tables/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ site.baseurl }}/assets/js/tables/buttons.html5.min.js"></script>


