{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Default layout

	Description:

		Basic HTML foundation for all pages.

	Example:

		---
		layout: default
		---

{% endcomment %}

<!DOCTYPE HTML>
<html>
	{% include components/head.html %}
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Header -->
					{% include layout/header.html %}
					{{ content }}
				</div>
			</div>
			<!-- Sidebar -->
			{% include layout/sidebar.html %}
		</div>
		<!-- Scripts -->
		{% include components/scripts.html %}
	</body>
</html>