---
layout: default
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Page layout

	Description:

		Base layout for all interior pages.

	Example:

		---
		layout: page
		---

{% endcomment %}

<!-- Content -->
	<section>
    	{% if page.wideImage %}
    	<span class="image main">
            <img src="{{ site.baseurl }}/{{ page.wideImage }}" alt="" />
        </span>
    	{% endif %}
    	{% if page.title %}
        <h2> {{ page.title}} </h2>
        {% endif %}
		{{ content }}
	</section>